/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-05-2019, 14:23:50
    Author     : Nikolaj
*/

/*#sitemenus
{
    background: white;
    width: 100%;
    display: inline-block;
}*/

#sitemenus a
{
/*    display: inline-block;
    background: white;*/
    color: black;
    margin: 10px;
    padding: 10px;
}

#sitemenus #site
{
    width: 50%;
    float: left;
    text-align: left;
}

#sitemenus #user
{
    width: 50%;
    float: right;
    text-align: right;
    
}

/*#sitemenus #user form
{
    float: right;
    margin: 10px;
}

#sitemenus #user form input
{
    border: solid black 1px;
    padding: 10px;
}*/

#everything
{
    padding: 10px;
    margin: 10px;
    background: #fff2ff;
}

#loginPage
{
    padding: 10px;
    margin: 10px;
}

h1
{
    text-align: center;
}

#CreateUser
{
    text-align: center;
    background-color: #ff57f7;
    
}

h2
{
    text-align: center;
}

.employeeTable {   
   border-collapse:collapse;
   border:1px solid #000000;
}

.employeeTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.employeeTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}
